<div class="row col-md-12">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<h3>Bill <%= @factura.NumFactura %> data</h3>
		<ul class="list-group">
		  <li class="list-group-item">Bill Num: <%= @factura.NumFactura %></li>
		  <li class="list-group-item">Date: <%= @factura.Fecha.strftime("%d-%m-%Y") %></li>
		  <li class="list-group-item">Customer: <%= @factura.Cliente %></li>		  
		</ul>
		<%= link_to '<button type="button" class="btn btn-primary">New Bill</button>'.html_safe, new_factura_path %>
		<%= link_to '<button type="button" class="btn btn-primary">View All</button>'.html_safe, facturas_path %>

		<!-- LINEAS DE LA FACTURA -->
		<table id="lineasFactura" class="table table-striped table-bordered" cellspacing="0" width="50%">
			<thead>
				<tr>
					<td class="th-sm">Concept</td>
					<td class="th-sm">Quantity</td>
					<td class="th-sm">Price</td>
					<td class="th-sm">Total</td>
				</tr>
			</thead>
			<tbody>
				<% @lineas.each do |l| %>
					<tr>
						<td><%= l.Concepto %></td>
						<td><%= l.Cantidad %></td>
						<td><%= l.Precio %></td>
						<td><%= l.Total %></td>						
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
	</div>	
</div>
<div class="row col-md-12">

</div>