<div class="row col-md-12">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<h3>Update Product: <%= @producto.id %></h3>
		<%= bootstrap_form_for @producto do |f| %>
		  <%= f.text_field :Nombre %>
		  <%= f.text_field :Descripcion %>
      <%= f.text_field :Stock %>
      <%= f.text_field :Precio_Unitario %>
		  <%= f.submit "Update" %>
		<% end %>
	</div>
	<div class="col-md-2">
	</div>
</div>

